
/* Globals */

body {
    background-color: rgb(237, 241, 241);
    color:rgb(75, 75, 75);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.right {
    float: right;
}
.left{
    float: left;
}

.green {
    color: rgb(51, 161, 51);
}

.b-green {
    background-color: rgb(69, 177, 69) !important;
}

.b-red {
    background-color: rgb(187, 55, 55) !important;
}


.purple {
    color: purple;
}
.b-purple {
    background-color: rgb(156, 33, 156);
}

.red {
    color: rgb(214, 37, 37);
}

.blue {
    color: blue;
}

.b-grey {
    background-color: #999;
}

.b-blue {
    background-color: rgb(67, 105, 233) !important;
}

.alert {
    color: rgb(214, 37, 37);
    text-align: center;
}

.yellow {
    color: yellow;
}

.orange {
    color: orange;
}

.icon-button {
    color:rgb(236, 236, 236);
    /*background-color: #5f5f5f;*/
    display: inline-block;
    font-size: 17px;
    width: 40px;
    height: 40px;
    padding-top: 8px;
    text-align: center;
    border-radius: 30px;
    margin-right: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.44);
}

.delete-btn {
    color:rgb(203, 3, 3);
    display: inline-block;
    font-size: 17px;
    width: 50px;
    height: 40px;
    padding-top: 8px;
    text-align: center;
    border-radius: 10px;
    margin-right: 5px;
}

.delete-btn:hover {
    color: rgb(173, 3, 3);
}

.icon-button:hover {
    color:rgb(236, 236, 236);
    filter: brightness(120%);
}

/* Page */

.topbar {
    width: 100%;
    height: 70px;
    position: fixed;
    color:rgb(75, 75, 75);
    background-color: white;
    top: 0px;
    left: 0px;
    display: inline;
    box-shadow: 3px 0 20px rgba(0, 0, 0, 0.24);
}

.topbar .logo {
    font-size: 30px;
    font-weight: 700;
    font-family: system-ui;
    color:rgb(114, 114, 114);
    padding: 13px 40px;
    /*border-right: 1px solid #eee;*/
    float: left;
}

.topbar .links .link {
    color:rgb(75, 75, 75);
    font-weight: 700;
    font-size: 20px;
    display: inline-block;
    height: 70px;
    border-right: 1px solid #eee;
    padding: 18px 23px;
    transition-duration: 0.2s;
}

.topbar .links .link:hover {
    border-right: 1px solid #eee;
}

.topbar .profile a{
    font-size: 22px;
    color:rgb(75, 75, 75);
    font-weight: 700;
    float: right;
    padding: 18px 30px;
}

.topbar .profile a:hover {
    filter: brightness(120%);
}

.main {
    padding: 80px 40px;    
}

.block {
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
    margin: 20px 0px 0px 0px;
    width: calc(100% - 15px);
    display: inline-block;
    transition-duration: 0.2s;
}

.block:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.24);
}

.block .head {
    font-size: 20px;
    font-weight: 700;
    padding: 10px 10px 20px;
    color:rgb(75, 75, 75);
}

.block .head-line {
    border-bottom: 1px solid rgb(214, 214, 214);
}

.block .content table .status {
    font-weight: 600;
}

.block .content table tr:hover {
    box-shadow: 0 0 5px black;
    cursor: pointer;
}

.block input, select {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid #a1a1a1;
    padding: 5px 20px;
    width: calc(100% - 10px);
    margin: 5px;
    transition-duration: 0.2;
    outline: none;
}

.block input:focus, select:focus {
    border: 1px solid rgb(102, 101, 101);
}

.block button {
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    margin-top: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 30px;
    background-color: rgb(50, 130, 204);
    border-radius: 5px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    outline: none;
}


.add-device, .add-device-user, .add-device-type {
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    text-align: center;
    z-index: 900;
    padding: 10px 20px 30px;
}


.rights {
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    color:rgba(0, 0, 0, 0.24);
    font-size: 12px;
}
