<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>IoTMon</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.4.1-dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.4.1-dist/css/all.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.flowchart.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {{ JSGlue.include() }}
    </head>
    <body>
        <div class="topbar">
            <div class="logo">IoTMon</div>
            <!--div class="links left">
                <a href="#" class="link">Link 1</a>
                <a href="#" class="link">Link 2</a>
                <a href="#" class="link">Link 3</a>
            </div-->
            <div class="profile right"><a href="/login">{{ username }}</a></div>
        </div>
        <div class="main container-fluid">
            <div class="row">
                <div class="col-8">
                    <div class="block devices">
                        <div class="head">
                            <span>Devices Monitoring</span>
                            <div class="right">
                                <a href="{{ url_for('index') }}" class="scan-button b-grey icon-button" title="Refresh"><i class="fas fa-sync-alt"></i></a>
                                <a href="#" class="add-device-button icon-button b-green" title="Add Device"><i class="fas fa-plus"></i></a>
                                <a href="#" class="add-device-user-button b-blue icon-button" title="Add User"><i class="fas fa-users"></i></a>
                                <a href="#" class="add-device-type-button b-purple icon-button" title="Add Device Type"><i class="fas fa-server"></i></a>
                            </div>
                        </div>
                        <!--div class="search"></div-->
                        <div class="content">
                            <table class="table table-striped clickable" id="device-table">
                                <thead>
                                  <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Type</th>
                                    <th scope="col" width="15%">Address</th>
                                    <th scope="col">Celsius</th>
                                    <th scope="col">Voltage</th>
                                    <th scope="col">Current</th>
                                    <th scope="col" width="15%">Status</th>
                                    <th scope="col" width="15%">Last Scan</th>
                                    <th scope="col" width="80px">Action</th>
                                  </tr>
                                </thead>
                                <tbody>
                                {% for device in devices %}
                                  <tr title="{{ device.Link }}">
                                    <td scope="col">{{ device.Name }}</td>
                                    <td>{{ device_types[device.TypeID] }}</td>
                                    <td>{{ device.Address }}</td>
                                    <td>{{ device.Temperature}}{% if device.Temperature != '-' %}°{% endif %}</td>
                                    <td>{{ device.Voltage }}{% if device.Temperature != '-' %}V{% endif %}</td>
                                    <td>{{ device.Current }}{% if device.Temperature != '-' %}A{% endif %}</td>
                                    <td class="status">{{ device.Status }}</td>
                                    <td>{{ device.LastScan }}</td>
                                    <td style="text-align: center;"><a href="#" title="delete" class="delete-btn " onclick="deleteRow(this)"><i class="fas fa-trash"></i></a></td>
                                    <input type="hidden" class="device-id" value="{{ device.Id }}" />
                                  </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="block alerts">
                        <div class="head head-line">Alerts</div>
                        <div class="content">
                            <table class="table table-striped clickable">
                                <thead>
                                    <tr>
                                        <th scope="col" width="20%">Status</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Info</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for device in devices %}
                                    {% if device.Status != "Power" %}
                                    <tr title="{{ device.Link }}">
                                        <td class="alert"><i class="fas fa-exclamation-circle"></i></td>
                                        <td>{{ device.Name }}</td>
                                        <td>{{ device.Address }}</td>
                                        <td>{{ device.Data }}</td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}    
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block floating-block add-device">
            <div class="head">New Device</div>
            <form action="{{ url_for('add_device') }}" method="post">
                <input type="text" name="name" placeholder="Name">
                <input type="text" name="address" placeholder="IP Address">
                <select name="device_user_id">
                    {% for user in device_users %}
                        <option value="{{ user[0] }}">{{ device_types[user[2]] }} - {{ user[1] }}</option>
                        <!-- user[2]=type  user[1]=username -->
                    {% endfor %}
                </select>
                <input type="text" name="version" placeholder="Version">
                <input type="text" name="link" placeholder="http://1.1.1.1/">
                <button type="submit">Save</button>
                <button type="reset" class="cancel b-red">Cancel</button>
            </form>
        </div>
        <div class="block floating-block add-device-user">
            <div class="head">New Device User</div>
            <form action="{{ url_for('add_device_user') }}" method="post">
                <input type="text" name="username" placeholder="Username">
                <input type="text" name="password" placeholder="Password">
                <select name="device_type_id">
                    {% for id in device_types.keys() %}
                        <option value="{{ id }}">{{ device_types[id] }}</option>
                    {% endfor %}
                </select>
                <input type="text" name="permissions" placeholder="Permissions">
                <button type="submit">Save</button>
                <button type="reset" class="cancel b-red">Cancel</button>
            </form>
        </div>
        <div class="block floating-block add-device-type">
            <div class="head">New Device Type</div>
            <form action="{{ url_for('add_device_type') }}" method="post">
                <input type="text" name="name" placeholder="Name">
                <button type="submit">Save</button>
                <button type="reset" class="cancel b-red">Cancel</button>
            </form>
            <div class="content">
                <br>
                <br>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Device Names</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for id in device_types.keys()  %}
                        <tr>
                            <td>{{ device_types[id] }}</td>
                        </tr>  
                    {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
        <div class="rights">® 2022 Developed by Baba</div>
        <script src="{{ url_for('static', filename='bootstrap-4.4.1-dist/js/jquery-3.4.1.slim.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap-4.4.1-dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap-4.4.1-dist/js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap-4.4.1-dist/js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script src="{{ url_for('static', filename='js/socketio.js') }}"></script>
    </body>
</html>